/* --------------------------------------------------
	Typography
-------------------------------------------------- */

@font-face {
  font-family: "HelveticaNeueLTProHv";
  src: local('HHelveticaNeueLTProHv'), url("../fonts/HelveticaNeueLTProHv.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

/* ---- Text ---- */

body {
  font-family: "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 1.8em;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HelveticaNeueLTProHv", "Helvetica Neue", "Arial", "sans-serif";
  /* text-transform: uppercase; */
}

/* ---- Headings ---- */

h1 {
  font-size: 1.7em;
  letter-spacing: 5px;
}

h2 {
  font-size: 1.5em;
  letter-spacing: 4px;
}

h3 {
  font-size: 1.3em;
  letter-spacing: 3.5px;
}

h4 {
  font-size: 1.07em;
  letter-spacing: 3px;
}

h5 {
  font-size: 1em;
  letter-spacing: 2px;
}

h6 {
  font-size: 0.85em;
  letter-spacing: 2px;
}

/* ---- Links ---- */

a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid rgba(44, 170, 223, 0);
  color: #333;
}

a:visited {
  color: #333;
  text-decoration: none;
}

a:hover,
a:visited:hover,
a:visited:focus {
  color: #666;
  text-decoration: none;
}

/* --------------------------------------------------
	Footers
-------------------------------------------------- */

footer {
  position: absolute;
  bottom: 35px;
  text-align: center;
  display: block;
  float: left;
  width: 100%;
}

footer a {
  padding: 0 0.5rem;
  font-size: 20px;
  transition: all 0.5s ease;
}

/* --------------------------------------------------
	Responsive Styles - Media queries
-------------------------------------------------- */

/* ---- Footers ---- */

@media all and (max-width: 600px) {

  html,
  body {
    font-size: 9px;
  }

  footer a {
    font-size: 16px;
  }
}

@media all and (max-width: 480px) {

  html,
  body {
    font-size: 8px;
  }

  footer a {
    font-size: 13px;
  }
}

/* ---- Links ---- */

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }

  a,
  a:visited {
    color: white;
  }

  a:hover,
  a:visited:hover,
  a:visited:focus {
    color: #BBB;
    text-decoration: none;
  }
}