@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500");

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font: 15px/1.5 "Roboto Mono", Helvetica, sans-serif;
	color: #222222;
	background: #f8f8f6;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

dd, dl, h1, p {
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 400;
	margin: 0;
	line-height: .8;
}

h2 {
	font-size: inherit;
	font-weight: 400;
	margin: 0;
	line-height: .8;
}

a {
	color: inherit;
	position: relative;
	border-bottom: 1px solid #222222;
	text-decoration: none;
}

a:hover, a:focus {
	color: orange;
	border-bottom: 1px solid orange;
}

::-moz-focus-inner {
	padding: 0;
	border: 0;
}

:focus {
	outline: 0;
}

.main-text {
	font: 500 20px/1 "Roboto Mono", Helvetica, sans-serif;
}

.main-text-small {
	font-size: 15px;
}

.logo {
	background-position: top left, top left;
	background-repeat: no-repeat;
	background-size: auto, auto 100%;
	width: 42px;
	height: 50px;
	padding: 0;
	margin: 0;
}

@media (max-width: 600px) {
	.logo {
		width: 42px;
		height: 50px;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		color: #f8f8f6;
		background: #222222;
	}

	a {
		border-bottom: 1px solid #f8f8f6;
	}
}

.section {
	z-index: 1;
	position: relative;
	padding: 96px 0 96px 96px;
	width: calc(100vw - 96px - 7em);
	display: -webkit-box;
	display: flex;
	box-sizing: border-box;
	min-height: 100vh;
}

@media (max-width: 1024px) {
	.section {
		padding: 48px 0 48px 48px;
		width: calc(100vw - 48px - 7em);
	}
}

@media (max-width: 950px) {
	.section {
		padding: 7.5vw;
		width: 100%;
	}
}

@media (max-width: 600px) {
	.section {
		display: block;
		min-height: 0;
	}
}

.column-section {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

@media (max-width: 600px) {
	.column-section-main {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
}

.section-bio {
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.col-section {
	width: 100%;
	max-width: 540px;
}

@media (max-width: 600px) {
	.col-section {
		margin-bottom: 15vw;
	}
}

@media (max-width: 1024px) {
	.col-section {
		max-width: 600px;
	}
}

.bio {
	font-size: 20px;
	font-weight: 100;
	margin-bottom: -.45em;
	max-width: 700px;
}

@media (max-width: 600px) {
	.bio {
		padding-top: 15vw;
		font-size: 18px;
	}
}

.typewriter {
	display: inline-block;
}

.typewriter-text {
	display: inline-block;
	overflow: hidden;
	letter-spacing: 0.5px;
	animation: typing 3s steps(56, end), blink .75s step-end infinite;
	white-space: nowrap;
	border-right: 4px solid orange;
	box-sizing: border-box;
}

@keyframes typing {
	from {
		width: 0%
	}

	to {
		width: 100%
	}
}

@keyframes blink {
	from, to {
		border-color: transparent
	}

	50% {
		border-color: orange;
	}
}

.list {
	margin-top: 3.2em;
}

.list-item {
	margin-top: .25em;
	margin-bottom: 2em;
}

.list-item:last-child {
	margin-bottom: -.4em;
}

.list-link {
	font-size: 14px;
	line-height: normal;
}

.social {
	position: fixed;
	right: 96px;
	top: 92px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: end;
	align-items: flex-end;
}

@media (max-width: 1024px) {
	.social {
		position: relative;
		right: auto;
		bottom: auto;
		padding: 0 7.5vw 7.5vw;
		margin-bottom: 30px;
		-webkit-box-align: start;
		align-items: flex-start;
		max-width: none;
	}
}

.footer {
	padding: 80px 0;
    text-align: center;
  }

.social-links, footer-links {
	margin-top: 1em;
	line-height: 1;
}

@media (max-width: 950px) {
	.social-links {
		display: inline;
	}
}

@media (hover: hover) {
	a.link-twitter:hover {
		color: #218DBC;
		border-bottom: 1px solid #218DBC;
	}

	a.link-linkedin:hover {
		color: #00588A;
		border-bottom: 1px solid #00588A;
	}

	a.link-github:hover {
		color: #24292f;
		border-bottom: 1px solid #f0f6fc;
	}

	@media (prefers-color-scheme: dark) {
		a.link-github:hover {
			color: #f0f6fc;
			border-bottom: 1px solid #24292f;
		}
	}

	a.link-xbox:hover {
		color: #107c10;
		border-bottom: 1px solid #107c10;
	}

	a.link-ko-fi:hover {
		color: #ff5f5f;
		border-bottom: 1px solid #ff5f5f;
	}
}